.basket-container {
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5em 1em;
  border-radius: 20px;
  border: solid 1px black;
  margin: 0 20px 20px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background_elements_color);
}

.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
}

.product-details-info h2 {
  display: flex;
  justify-content: center;
}

.product-description {
  padding: 30px;
  font-size: 20px;
}

.product-details img {
  width: 4em;
}

.product-details button {
  margin: 10px;
  font-size: 105%;
  width: 1.5em;
  height: 4vh;
  background-color: var(--header-color);
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.01s ease-in-out, transform 0.01s ease-in-out;
}

.product-details button:hover {
  background-color: var(--button_hover-color);
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price {
  margin: 0 3em;
}