.search-input {
  width: 300px;
  border: none;
  font-size: 16px;
  color: #333;
}

.search-button {
  /* background-image: url(assets/styles/loop2.css); */
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 0rem;
  border: none;
}

.search-button:active {
  transform: translateY(1.5px);
}

.search-form {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
}

.search-input-group {
  display: flex;
  align-items: center;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.search-input:focus {
  outline: none;
}

.search-options {
  list-style-type: none;
}

.search-options-container {
  display: none;
}

.search-options-container__enabled {
  display: block;
  background-color: white;
}

.search-options li {
  padding: 0.5em 1em;
}

.search-options li:hover {
  background-color: var(--background_hover-color);
}

.search-container:has(.search-options-container__enabled) {
  outline: 2px solid black;
  border-radius: 0.5em;
  background-color: white;
  margin-top: 11em;
}

.loop {
  width: 20px;
}

/* .search_background {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */