.container {
  display: flex;
  background-color: var(--card_product-color);
  border: 1px solid black;
  border-radius: 15px;
  width: fit-content;
  justify-content: center; /* Center content horizontally */
  padding: 10px;
  position: relative;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  margin: 15rem 0;
  font-size: 130%;
}

.form-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.form-content label {
  padding: 5px;
}

.form-content input {
  border-radius: 5px;
  height: 1.5rem;
}